header {
  min-height: 15vh;
}

main {
  min-height: 75vh;
}

footer {
  height: 10vh;
}

nav a {
  text-decoration: none;
}

nav .active {
  background-color:  teal;
  color: azure;
  text-decoration: underline;
}